* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4fbff;
    color: #263238;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(40, 85, 107, 0);
  
}

nav {
    width: 100%;
    padding: 18px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: rgb(8, 8, 8);
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #8ed8f8;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

nav ul li a {
   color: #050505;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #8ed8f8;
}

.hero {
    height: 100vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

    background:
        linear-gradient(
            rgba(80, 150, 190, 0.295),
            rgba(20, 70, 100, 0.75)
        ),
        url("https://media.istockphoto.com/id/1445196818/pt/foto/group-of-cute-pets-on-white-background-banner-design.jpg?s=612x612&w=0&k=20&c=wly0obQ9hBS_e2fpH0FcY1kiNLqFlKxtnTQmpbHkbMI=")
        center / cover no-repeat;
}

.hero-content {
    max-width: 700px;
    padding: 20px;
}

.subtitle {
    font-size: 15px;
    font-weight: bold;
    color: #e5f8ff;
}

.hero h1 {
    font-size: 65px;
    margin: 10px 0;
    color: white;
}

.hero h1 span {
    color: #8ed8f8;
}

.hero p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-primary,
.btn-secondary {
    padding: 14px 25px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
    display: inline-block;
}

.btn-primary {
    background: #8ed8f8;
    color: #17445c;
    border: 2px solid #8ed8f8;
}

.btn-secondary {
    background: white;
    color: #397a99;
    border: 2px solid white;
}

.btn-primary:hover,
.btn-secondary:hover {
    transform: translateY(-3px);
}

.section {
    max-width: 900px;
    margin: auto;
    padding: 90px 30px;
    text-align: center;
}

.section-subtitle {
    color: #55a9cc;
    font-size: 13px;
    font-weight: bold;
}

.section h2 {
    font-size: 38px;
   color: #55a9cc;
    margin: 10px 0 20px;
}

.section > p {
    max-width: 700px;
    margin: 10px auto;
    color: #00aaff;
    line-height: 1.7;
}

.cards {
    display: flex;
    gap: 25px;
    margin-top: 40px;
}

.card {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(80, 160, 200, 0.12);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-7px);
    box-shadow: 0 10px 25px rgba(80, 160, 200, 0.2);
}

.icon {
    font-size: 35px;
    margin-bottom: 15px;
}

.card h3 {
    color: #397a99;
    margin-bottom: 10px;
}

.card p {
    color: #607d8b;
    line-height: 1.6;
}

.services {
    background: #e8f8ff;
    max-width: none;
}

.service-button {
    margin-top: 40px;
}

footer {
    padding: 35px 20px;
    text-align: center;
    background: #28556b00;
    color: #4cc1f3;
}

footer p {
    color: #080808;
    margin-top: 10px;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
}

.footer-logo span {
    color: #8ed8f8;
}

.copyright {
    margin-top: 20px;
}

@media (max-width: 700px) {

    nav {
        padding: 15px 20px;
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        gap: 15px;
    }

    .hero h1 {
        font-size: 45px;
    }

    .hero p {
        font-size: 15px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        flex-direction: column;
    }

    .section h2 {
        font-size: 30px;
    }
}

@media (max-width: 450px) {

    nav {
        padding: 12px 10px;
    }

    nav ul {
        gap: 10px;
    }

    nav ul li a {
        font-size: 12px;
    }

    .hero h1 {
        font-size: 38px;
    }
}